* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  letter-spacing: 2px;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

#mediumText {
  font-family: "Merriweather", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings: "wdth" 95;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Merriweather", serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  font-variation-settings:
    "wdth" 95;
}


#lightText {
  font-family: "Merriweather", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings:
    "wdth" 90;
}

.merriweather-italic {
  font-family: "Merriweather", serif;
  font-weight: 400;
  font-style: italic;
  font-variation-settings: "wdth" 100;
}
.about {
  display: flex; /* Make children sit side by side */
  width: 100%;
  height: auto;
  min-height: 400px;
  flex-wrap: wrap;
}

.text-block h1 {
  font-size: 50px;
  margin-bottom: 12px; /* space below the header */
}

.text-block p {
  font-size: 14px;
}

.about .photo {
  background-image: url('../images/Profile_Photo.jpg');
  background-size: cover;
  background-position: center;
  width: 20%;
  min-height: 400px;
}

.about .text-block {
  background-image: url('/images/Background_Pattern.jpg');
  background-size: cover;
  background-position: center;
  color: #0c0e13;
  display: flex;
  flex-direction: column; /* This will stack the children vertically */
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 80%;
  min-height: 400px;
  padding: 30px;
}

.section-container {
  display: flex;
  width: 100%;
  min-height: 600px;
}

/* Sidebar Styles */
.sidebar {
  width: 20%;
  background-color: rgb(249, 245, 242);
  padding: 30px 20px;
  font-family: 'Merriweather', serif;
  box-sizing: border-box;
}

.sidebar nav ul {
  list-style-type: none;
  padding: 0;
}

.sidebar nav ul li {
  margin-bottom: 20px;
}

.sidebar nav ul li a {
  text-decoration: none;
  color: #333;
  font-weight: 600;
  transition: color 0.3s ease;
}

.sidebar nav ul li a:hover {
  color: #7a5c4c;
}

/* Project Previews */
.project-preview {
  width: 80%;
  padding: 30px;
  background-color: white;
  box-sizing: border-box;
}

.project-preview h2 {
  margin-bottom: 20px;
  font-size: 28px;
}

.resume_header {
  background-image: url('../images/Background_Pattern.jpg');
  background-size: cover;
  background-position: center;
  text-align: center;
  width: 100%;
  height: 60px;
}